* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #f5f7fa;
	font-size: 14px;
}


.wrapper {
	display: flex;
	background: #fff;
	margin: 20px;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
	width: 370px;
	background: #120f2c;
}

.my-photo {
	width: 370px;
	margin-top: 40px;
}

.about-me-container {
	padding: 110px 90px;
}

.contacts-container,
.tech-skiils-container,
.soft-skills-container {
	margin: 55px 40px 0 40px;
	color: #fff;

}

.contacts-container h3,
.tech-skiils-container h3,
.soft-skills-container h3 {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
}

.contacts-container div {
	margin-top: 20px;
	font-weight: 700;
}

.contacts-link a {
	margin-left: 10px;
	color: #fff;
	font-weight: 400;
	opacity: 0.5; 
}

.tech-skiils-container ul,
.soft-skills-container ul {
	margin-top: 20px;
	margin-left: 15px;
}

.tech-skiils-container li,
.soft-skills-container li {
	font-weight: 400;
	line-height: 24px;
	color: #ff6b08;
}

.tech-skiils-container li span,
.soft-skills-container li span {
	color: #fff;
}

.soft-skills-container {
	margin-bottom: 40px;
}

