* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #f5f7fa;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}


.wrapper {
	width: 1200px;
	display: flex;
	background: #fff;
	margin: 20px auto;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
	width: 370px;
	background: #120f2c;
}

.my-photo {
	width: 370px;
	margin-top: 40px;
}

.about-me-container {
	padding: 110px 90px;
}

.contacts-container,
.tech-skiils-container,
.soft-skills-container {
	margin: 55px 40px 0 40px;
	color: #fff;

}

.contacts-container h3,
.tech-skiils-container h3,
.soft-skills-container h3 {
	font-size: 22px;
	font-weight: 700;
}

.contacts-container div {
	margin-top: 20px;
	font-weight: 700;
}

.contacts-link a {
	margin-left: 10px;
	color: #fff;
	opacity: 0.5;
	font-weight: 400; 
}

.tech-skiils-container ul,
.soft-skills-container ul {
	margin-top: 20px;
	margin-left: 15px;
}

.tech-skiils-container li,
.soft-skills-container li {
	color: #ff6b08;
}

.tech-skiils-container li span,
.soft-skills-container li span {
	color: #fff;
}

.soft-skills-container {
	margin-bottom: 40px;
}

/*About Me Container*/

.about-me h2 {
	font-weight: 700;
}

.about-me h1 {
	font-size: 45px;
	font-weight: 700;
	line-height: 89px;
	margin-top: 24px;
}

.about-me p {
	width: 410px;
	color: #595959;
	margin-top: 24px;
}

.about-me {
	margin-bottom: 60px;
}

.project h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 12px;
}

.project ol {
	margin-left: 15px;
}

.project li {
	font-weight: 700;
}

.project a {
	color: #595959;
	font-weight: 400;
	padding-left: 10px;
}

.project span {
	color: #595959;
	font-weight: 400;
}

.project {
	margin-bottom: 50px;
}

.work-experience h3,
.education h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 18px;
}

.company h4 {
	font-weight: 700;
}

.color {
	color: #ff6b08;
}

.time {
	font-size: 12px;
	color: #a8a8a8;
	margin-bottom: 14px
}

.company ul {
	margin-left: 15px;
}

.company {
	margin-bottom: 24px;
}